<nav th:fragment="navbar" xmlns:th="http://www.w3.org/1999/xhtml"
	class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
	<a class="navbar-brand" target="_blank" href="//parzibyte.me/blog">SISTEMAS CONTABLES</a>
	<button class="navbar-toggler" type="button" id="botonMenu">
		<span class="navbar-toggler-icon"></span>
	</button>
	<script th:inline="javascript">
		var token = localStorage.getItem('token');
	</script>
	<div class="collapse navbar-collapse" id="menu">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" th:href="@{/api/vender/}">Vender</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/api/productos/mostrar}">Catálogo</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/api/ventas/mostrar}">Ventas</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/api/libro/contribuyente}">Libro contribuyente</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/api/libro/consumidor}">Libro de ventas a consumidor</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/api/libro/compras}">Libro de compras</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/api/libro/partida}">Catalogo de cuentas</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/api/libro/partida}">Partida</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/api/libro/compras}">Libro diario</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/api/libro/partida}">Libro mayor</a>
			</li>
			
		</ul>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" th:href="@{/api/salir}">Salir</a>
			</li>
		</ul>
	</div>

</nav>